/* App.css */
body {
background-color: bisque;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin-right: 1rem;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
  }
  
  .nav-link i {
    margin-right: 0.5rem;
  }
  